.navbg
{
   height: 100%;
      width: 250px;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #1c1515;
      padding-top: 20px;
      opacity: 0.5;
}

.navbg a {
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    color: #fafdff;
    display: block;
    transition: color 0.3s;
    opacity: 1;
  }
  #video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }